/* App.css */

/* Center the chart and add padding */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f6f9;
  font-family: Arial, sans-serif;
}

h1 {
  color: #444;
  font-size: 2em;
  margin-bottom: 20px;
}

.chart-container {
  width: 100%;
  height: 100%;
  /* max-width: 800px; */
  /* background: black; */
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Loader styling */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
